@use '../tokens' as *;

.input {
  width: 100%;
  padding: $space-2 $space-3;
  font-size: $font-size-sm;
  border: 1px solid $border-light;
  border-radius: $radius-md;
  background: $bg-body;
  color: $text-primary;
  transition: 0.25s ease;

  &:focus {
    border-color: $color-accent-primary;
  }
}
