@use '../../../styles/variables' as *;

.hero {
  height: calc(100vh - 15vh);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;

  @include md {
    grid-template-columns: 1fr;
    height: max-content;
    margin-bottom: 2rem;
  }

  @include sm {
    grid-template-columns: 1fr;
    height: max-content;
    margin-bottom: 2rem;
  }

  .text {
    width: 90%;
    margin: 0 auto;
    h1 {
      font-size: 4rem;
      margin: 0;
    }
    p {
      width: 70%;

      @include md {
        width: 100%;
      }
      @include sm {
        width: 100%;
      }

      span {
        color: var(--yellow);
        font-weight: 500;
      }
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 1rem 0;

      a {
        display: inline-block;
        position: relative;
        background-color: var(--text);
        padding: 0.4rem 0.8rem;
        border-radius: 4px;
        color: var(--card);
        overflow: hidden;
        transition: color 0.3s ease;

        &::after {
          content: 'Download CV';
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--card);
          color: var(--text);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: inherit;
          transition: top 0.3s ease;
        }

        &:hover {
          color: var(--text);
          background-color: var(--card);

          &::after {
            top: 0;
          }
        }

        &:last-child {
          &::after {
            content: 'Contact Me';
          }
        }
      }
    }
  }

  .imageBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(35deg);
      overflow: hidden;
      filter: grayscale(1);

      &:hover {
        transform: rotate(15deg);
        filter: grayscale(0);
      }
    }
  }
}

.about {
  height: max-content;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--card) !important;

  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
  }
  .stats {
    display: flex;
    align-items: start;
    gap: 2rem;

    .stat {
      h2 {
        font-size: 4rem;
        font-weight: 600;

        span {
          color: yellow;
        }
      }

      p {
        text-align: left;
      }
    }
  }
}

.tools {
  height: max-content;
  margin: 4rem 0;
  p {
    width: 70%;

    @include md {
      width: 100%;
    }

    @include sm {
      width: 100%;
    }
  }

  .tools_box {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;

    @include md {
      grid-template-columns: repeat(2, 1fr);
      margin: 1rem auto;
      grid-gap: 1rem;
    }

    @include sm {
      grid-template-columns: 1fr;
      margin: 1rem auto;
      grid-gap: 1rem;
    }

    .tool {
      width: 100%;
      height: 100px;
      background-color: var(--card);
      padding: 0.5rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      border: 2px solid var(--grayAlt);

      &:hover {
        box-shadow: var(--shadowAlt);
      }

      .img {
        height: 100%;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background-color: var(--bg);
        overflow: hidden;

        img {
          height: 70%;
          width: 70%;
          object-fit: contain;
        }
      }

      .text {
        width: calc(100% - 120px);

        p {
          width: 100%;
          color: var(--gray);
        }
      }
    }
  }
}

.projects {
  height: 100%;
  min-height: 100vh;

  p {
    width: 55%;

    @include md {
      width: 100%;
    }
    @include sm {
      width: 100%;
    }
  }

  .projects_box {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: center;
    grid-gap: 1rem;
    margin: 3rem 0;

    @include md {
      grid-template-columns: 1fr;
    }

    @include sm {
      grid-template-columns: 1fr;
    }

    .project {
      width: 100%;
      height: 500px;
      background-color: var(--card);
      padding: 1rem;
      border-radius: 0.5rem;
      overflow: hidden;

      .image {
        width: 100%;
        height: 75%;
        border-radius: 0.5rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        width: 100%;
        height: 25%;
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          width: 100%;
          p {
            width: 90%;
            font-size: 14px;
          }

          .tech {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0.5rem 0;
          }
          span {
            background-color: var(--bg);
            padding: 0.2rem 0.6rem;
            display: inline-block;
            font-size: 14px;
          }
        }

        .right {
          width: 40px;
          height: 40px;
          background-color: var(--card);
          border-radius: 0.5rem;
          transform: rotate(-90deg);

          img {
            transform: scale(0.8);
          }

          &:hover {
            img {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}

.reviews {
  padding: 4rem 1rem;

  .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .reviewList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: 1fr;
    }
  }

  .reviewCard {
    width: 100%;
    background-color: var(--card);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;

    .content {
      font-size: 1rem;
      margin-bottom: 1.5rem;
      line-height: 1.6;
    }

    .reviewer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      .name {
        font-weight: 600;
      }
    }
  }
}

.contact {
  height: max-content;
  margin: 3rem auto;

  @include md {
    margin: 1rem auto;
  }
  @include sm {
    margin: 1rem auto;
  }

  .row {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-content: center;
    grid-gap: 2rem;

    @include md {
      grid-template-columns: 1fr;
    }

    @include sm {
      grid-template-columns: 1fr;
    }

    .col {
      width: 100%;
      h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 1rem;
      }
      .socials {
        display: flex;
        align-items: center;
        gap: 1rem;

        a {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.2rem;
          border-radius: 0.4rem;
          background-color: var(--card);

          img {
            width: 80%;
            height: 80%;
          }

          &:hover {
            img {
              transform: scale(1.05) rotate(45deg);
            }
          }
        }
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;

        .formControl {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;

          label {
            font-weight: 500;
            margin-bottom: 0.4rem;
          }

          input {
            background-color: var(--card);
            padding: 1rem;
            border-radius: 0.4rem;
            color: var(--text);
          }

          textarea {
            @extend input;
            min-height: 120px;
            resize: none;
          }
        }
        button {
          width: 100%;
          display: inline-block;
          padding: 1rem;
          font-size: 16px;
          border-radius: 0.4rem;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
