@use '../../styles/variables' as *;

.animatedLink {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0;
    background: var(--yellow);
    transition: width 0.3s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &.active {
    color: var(--yellow);

    &::after {
      width: 100%;
    }
  }

  .text {
    display: block;
    transition: transform 0.4s ease;
  }

  .duplicate {
    position: absolute;
    left: 0;
    top: 100%;
    color: var(--white);
  }

  &:hover {
    .text {
      transform: translateY(-100%);
    }
  }
  &:hover {
    .duplicate {
      transform: translateY(-100%);
    }
  }
}

.animatedButton {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 0 0.75rem;
  background-color: var(--btn);
  color: var(--text);
  transition: all 0.3s ease;
  text-align: center;

  // &:hover {
  //   background-color: rgba(var(--gray-rgb), 0.9);
  // }

  .textBox {
    position: relative;
    overflow: hidden;
    height: 1.2em; // Matches the font-size height
    flex: 1;

    .text {
      display: block;
      font-weight: 500;
      transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);

      &.duplicate {
        position: absolute;
        top: 100%; // Sits right below the first text
        left: 0;
        width: 100%;
      }
    }
  }

  .arrowBox {
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 6px;
    transition: background-color 0.3s ease;

    .arrow {
      position: absolute;
      inset: 0; // Centers the arrow container
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
      color: var(--text);

      &.duplicateArrow {
        transform: translateX(-100%); // Starts off-screen to the left
      }
    }
  }

  // Hover Actions
  &:hover {
    .text {
      transform: translateY(-100%);
    }
    .arrow {
      transform: translateX(100%);
    }
    .duplicateArrow {
      transform: translateX(0);
    }
  }
}

.toggleBtn {
  width: 50px;
  height: 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.thumb {
  position: absolute;
  top: 3.5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  img {
    filter: invert(1);
  }
}

/* Use transform instead of 'left' for better performance */
.toggleBtn[data-theme='light'] .thumb {
  transform: translateX(3px);
}
.toggleBtn[data-theme='dark'] .thumb {
  transform: translateX(28px);
}
