@use './variables' as *;

.mainContainer {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @include sm {
    height: max-content;
  }
  @include md {
    gap: 4rem;
  }

  .themeToggler {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .top {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include sm {
      flex-direction: column;
      text-align: center;
    }
    @include md {
      flex-direction: column;
      text-align: center;
    }

    .avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid var(--gray);
      overflow: hidden;

      @include md {
        width: 150px;
        height: 150px;
      }
    }
  }

  .contents_container {
    width: 700px;

    @include sm {
      width: 100%;
    }
    h1 {
      text-align: center;

      @include sm {
        margin: 2rem 0;
      }
    }
    .menuCards {
      width: 100%;
      display: flex;
      margin: 1rem 0;
      align-items: start;
      justify-content: center;
      gap: 0.4rem;

      @include sm {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .menuCard {
        flex: 1;
        width: 160px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--bg);
        border-radius: 1rem;
        padding: 0.5rem;
        border: 2px solid var(--grayAlt);
        cursor: pointer;

        @include sm {
          width: 100%;
        }

        .image {
          width: 120px;
        }

        h3 {
          font-size: 1rem;
          font-weight: 400;
        }

        &:hover {
          flex: 1.4;
          filter: none;

          img {
            transform: scale(1.2);
          }
        }
      }
      &:hover .menuCard:not(:hover) {
        transform: scale(0.95);
      }
    }

    .footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1rem;

      a {
        display: inline-block;
        background-color: var(--text);
        text-decoration: none;
        padding: 0.5rem 2rem;
        border: none;
        border-radius: 1rem;
        outline: none;
        color: var(--bg);

        &:nth-child(2) {
          background-color: var(--gray);
        }

        &:hover {
          letter-spacing: 1px;
        }
      }
    }

    p {
      text-align: center;
      font-size: 12px;
    }

    .socials {
      width: 1005;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin: 1rem 0;

      img {
        width: 30px;
      }
    }
  }

  .renderSection {
    @include sm {
      display: none;
    }
  }
}
