@use '../../../styles/variables' as *;

.footer {
  width: 100%;
  height: max-content;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .row {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: center;

    @include sm {
      padding: 2rem 0;
    }

    @include md {
      grid-template-columns: 1fr;
    }
    @include sm {
      grid-template-columns: 1fr;
    }

    .col {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      h2 {
        font-size: 3rem;

        @include sm {
          margin-bottom: 2rem;
        }
      }

      h3 {
        margin-bottom: 0.5rem;

        @include sm {
          font-size: 1.6rem;
        }
      }

      a {
        margin: 0.5rem 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
