.hero {
  .profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;

    .profile_image {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      aspect-ratio: 1/1;
    }

    .hero_text {
      h1 {
        width: 50% !important;
      }
    }

    .profile_details {
      p {
        color: #f1f1f1;
        font-size: 0.8rem;
      }
    }
  }

  .hero_ctas {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
}
