@use '../../../styles/variables' as *;

.header {
  // position: sticky;
  top: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  border-bottom: 4px solid var(--card);
  z-index: 100;
  background-color: transparent;

  .logo {
    width: 60px;
  }

  .hamburger {
    display: none;
    width: 35px;
    cursor: pointer;

    @include sm {
      display: block;
    }
  }

  .headerNav {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.4s ease;

    a {
      cursor: pointer;
    }

    .close {
      display: none;
    }

    /* MOBILE MODE */
    @include sm {
      position: absolute;
      top: 0;
      right: 0;
      width: 70%;
      height: 100vh;
      background-color: var(--card);
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 6rem;
      transform: scale(0);
      transform-origin: top right;
      border-left: 2px solid var(--border);
      z-index: 100;

      .close {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;

        img {
          width: 50px;
        }
      }
    }
  }

  /* SHOW MOBILE MENU */
  .showMenu {
    transform: scale(1) !important;
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include sm {
      /* hide only the contact link */
      a {
        display: none;
      }

      /* keep theme toggle visible */
      button,
      div {
        display: flex;
      }
    }
  }
}
