* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  transition: all 0.3s ease-in-out;
  font-family: 'Urbanist', sans-serif;
}

:root {
  /* Light Theme */
  --bg: #f3f5ed;
  --card: #ffffff;
  --bright: #97c680;
  --text: #0e1b29;
  --gray: #a7a7a7;
  --grayAlt: #ebebeb;
  --yellow: #fde500;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
  --transition: all 0.3s ease-in-out;
  --border: 0.3rem;
}

/* Dark Theme */
[data-theme='dark'] {
  --bg: #0e1b29;
  --card: #1a263b;
  --bright: #97c680;
  --text: #f1f1f1;
  --gray: #999999;
  --grayAlt: #2b2b2b;
  --yellow: #fde500;
  --shadow: rgba(255, 255, 255, 0.05) 0px 1px 2px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 18vh;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1.3;
  font-style: normal;
  background: var(--bg);
  color: var(--text);
  transition: var(--transition);
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  font-size: clamp(1.4rem, 5vw, 1.7rem);
  color: var(--text);
  font-weight: 600;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 1.8rem);
  text-transform: capitalize;
  color: var(--text);
  font-weight: 700;
}

p {
  font-size: clamp(1rem, 2.5vw, 1rem);
  color: var(--text);
  line-height: 26px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

button {
  background-color: var(--text);
  color: var(--bg);
}
