@use '../../styles/variables' as *;

.animatedLink {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    width: 0;
    background: var(--yellow);
    transition: width 0.3s ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &.active {
    color: var(--yellow);

    &::after {
      width: 100%;
    }
  }

  .text {
    display: block;
    transition: transform 0.4s ease;
  }

  .duplicate {
    position: absolute;
    left: 0;
    top: 100%;
    color: var(--white);
  }

  &:hover {
    .text {
      transform: translateY(-100%);
    }
  }
  &:hover {
    .duplicate {
      transform: translateY(-100%);
    }
  }
}

.animatedButton {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid var(--yellow);
  border-radius: 0.5rem;
  height: 50px;
  width: 220px;
  padding: 0.5rem;
  justify-content: space-between;
  background-color: transparent;
  color: var(--yellow);

  @include sm {
    width: max-content;
  }

  .textBox {
    position: relative;
    overflow: hidden;
    font-size: 0.95rem;
    line-height: 1;
    height: 1em;
  }

  .text {
    display: block;
  }

  .duplicate {
    position: absolute;
    left: 0;
    top: 100%;
  }

  &:hover .text {
    transform: translateY(-100%);
  }

  &:hover .duplicate {
    transform: translateY(-100%);
  }

  .arrowBox {
    position: relative;
    width: 40px;
    height: 32px;
    overflow: hidden;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
  }

  .arrow {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, -50%);
    z-index: 2;
  }

  .duplicateArrow {
    transform: translate(-100%, -50%);
    z-index: 1;
  }

  &:hover .arrow {
    transform: translate(100%, -50%);
  }

  &:hover .duplicateArrow {
    transform: translate(0, -50%);
  }

  img {
    width: 50%;
    height: 50%;
    display: block;
  }
}
